$primary-dark: #0f162d;
$primary-pink: #ca59ff;
$primary-blue: #6c7cff;
$primary-green: #2affff;
$primary-yellow: #fff629;

$secondary-white: #ffffff;
$secondary-dark: #272d42;
$secondary-black: #000;

$border-radius: 24px;
$border-radius-mobile: 16px;

$wrapper-width: 1440px;
$wrapper-width-sm: 834px;

$main-spacing: 20px;

$breakpoints: (
  md: 1220px,
  sm: 1080px,
  xs: 520px
);
